@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Asp.NET Core Markdown Middleware</h1>
</div>

<p>A sample of a Asp.NET Core middleware for serving markdown files as rendered HTML.</p>

<div>
    This project
    <ul>
        <li>uses Blazor for rendering regualar sites (SSR and WSAM)</li>
        <li>serves *.md files as rendered HTML (server side rendering)</li>
        <li>renders *.md files to HTML witin a webassembly (client side rendering)</li>
        <li>maps extensionless URLs to the markdown files</li>
        <li>uses <a href="https://github.com/lunet-io/markdig">MarkDig Markdown Parser</a> for parsing and converting markdown files</li>
        <li>inspired by <a href="https://github.com/RickStrahl/Westwind.AspNetCore.Markdown">https://github.com/RickStrahl/Westwind.AspNetCore.Markdown</a></li>
    </ul>
</div>

<div>
   
</div>