@page "/server-side-markdown"

<PageTitle>Server markdown rendering</PageTitle>

<h1>Server side markdown rendering</h1>

<p>A sample for server side markdown rendering:</p>
<ul>
    <li><a href="Others\Code-Demo">Others\Code-Demo</a></li>
    <li><a href="Samples\Lorem-Markdownum">Samples\Lorem-Markdownum</a></li>
    <li><a href="Samples\Markdown-It.md">Samples\Markdown-It.md</a></li>
</ul>

@code {
   
}
