@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Asp.NET Core Markdown Middleware</h1>
</div>

<p>A sample of a Asp.NET Core middleware for serving markdown files as rendered HTML.</p>

<div>
    This project
    <ul>
        <li>uses Blazor (SSR) for rendering regualar sites</li>
        <li>serves *.md files as rendered HTML</li>
        <li>maps extensionless URLs to the markdown files</li>
        <li>uses <a href="https://github.com/lunet-io/markdig">MarkDig Markdown Parser</a> for parsing and converting markdown files</li>
        <li>inspired by <a href="https://github.com/RickStrahl/Westwind.AspNetCore.Markdown">https://github.com/RickStrahl/Westwind.AspNetCore.Markdown</a></li>
    </ul>
</div>

<div>
    <h1>Samples</h1>

    <ul>
        <li><a href="Others\Code-Demo">Others\Code-Demo</a></li>
        <li><a href="Samples\Lorem-Markdownum">Samples\Lorem-Markdownum</a></li>
        <li><a href="Samples\Markdown-It.md">Samples\Markdown-It.md</a></li>
    </ul>
</div>